<h2 mat-dialog-title>
    <button mat-button mat-dialog-close><i class="fa fa-arrow-left"></i></button>
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="row fondoPerfil">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <img class="fotoPerfil" [src]="data.usuario.foto || './assets/imagenes/perfil.png'">
                        </div>
                        <div class="col-md-8 col-xs-8 col-sm-8">
                            <h2>{{ data.usuario.nombre }} {{ data.usuario.apellido }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <br>
                    <ul class="list-group list-group-horizontal-xl">
                        <li class="list-group-item">FECHA ENTREGA: {{ data.fechaEntrega | date:'MMM d, y' }} </li>
                        <li class="list-group-item">HORA: {{ data.horaEntrega | date:'hh:mm:ss' }} </li>
                        <li class="list-group-item">DIRECCION: {{ data.origentexto }} </li>
                        <li class="list-group-item">NOMBRE: {{ data.nombreCliente }} </li>
                        <li class="list-group-item">NUMERO: {{ data.numeroCliente }} </li>
                        <li class="list-group-item">MONTO A COBRAR: {{ data.ofreceCliente }} </li>
                        <li class="list-group-item">DATOS EXTRAS: {{ data.descripcion }} </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6" *ngIf="data.view == 'asignar'">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <h5>SELECCIONE UN DRIVE</h5>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <ul class="list-group mouse">
                            <li *ngFor="let item of listDrivers" (click)="seleccionConductor( item )" [ngClass]="{cambiarColor: item.check == true}" class="list-group-item"> {{ item.nombre }} {{ item.apellido }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6" *ngIf="data.view == 'ver'">
            <div class="content">
                <div class="row">
                    <br><br>
                    <h1 class="text-center" *ngIf="data.estado == 0">
                        <p class="text-dark">ESTADO</p>
                        <p class="text-warning">ACTIVO</p>
                    </h1>
                    <h1 class="text-center" *ngIf="data.estado == 1">
                        <p class="text-dark">ESTADO</p>
                        <p class="text-warning">CANCELADO</p>
                    </h1>
                    <h1 class="text-center" *ngIf="data.estado == 2">
                        <p class="text-dark">ESTADO</p>
                        <p class="text-warning">COMPLETADO</p>
                    </h1>
                    <h1 class="text-center" *ngIf="data.estado == 3">
                        <p class="text-dark">ESTADO</p>
                        <p class="text-warning">EN PROCESO</p>
                    </h1>
                    <h1 class="text-center" *ngIf="data.estado == 2 || data.estado == 3">
                        <p class="text-dark colorDark">Asignado {{ data.coductor.nombre }} {{ data.coductor.apellido }}</p>
                    </h1>
                    <h1 class="text-center" *ngIf="data.estado == 2 || data.estado == 3">
                        <p>Cambiar a</p>
                    </h1>
                    <div class="col-md-12 col-xs-12 col-sm-12" *ngIf="data.estado == 2 || data.estado == 3">
                        <ul class="list-group mouse">
                            <li *ngFor="let item of listDrivers" (click)="seleccionConductor( item )" [ngClass]="{cambiarColor: item.check == true}" class="list-group-item"> {{ item.nombre }} {{ item.apellido }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="AsignarConductor()" [disabled]="disabledSubmit" *ngIf="listSeleccionados.id">ASIGNAR</button>
</mat-dialog-actions>