//@import url("./node_modules/bootstrap/dist/css/bootstrap.min.css")

.cambiarColor {
    background: #d8d8d8;
}

.fotoPerfil {
    border-radius: 21px;
}

.fondoPerfil {
    background: #043c67;
    padding-top: 12px;
    border-radius: 18px;
    color: white;
}

