<div id="content-wrapper" class="contents">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content-header" class="clearfix">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li><a [routerLink]="['/dashboard/home']">Home</a></li>
                                <li class="active"><span>Administracion</span></li>
                            </ol>
                            <h1>Administracion</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="p-3 mb-2 text-white fondoRojo col-12 col-sm-12 row"
                            [ngClass]="{colorFondo: data.disponible, fondoRojo: data.disponible == false}">
                            <div class="col-md-6 col-md-offset-3 p">
                                <span *ngIf="data.disponible" class="colorWhite">DISPONIBLE</span>
                                <span *ngIf="!data.disponible" class="colorWhite">NO DISPONIBLE</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3 p">
                            <button type="button" class="btn btn-primary"
                                (click)="procesoEstado(true)">DISPONIBLE</button>
                            <button type="button" class="btn btn-danger" (click)="procesoEstado(false)">NO
                                DISPONIBLE</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputName2">MENSAJE 1</label>
                        <input type="text" class="form-control" [(ngModel)]="data.mensaje1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">MENSAJE 2</label>
                        <input type="text" class="form-control" [(ngModel)]="data.mensaje2">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">BLOQUEO</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="maskedDate">Desde</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="datetime-local" id="birthdaytime" name="birthdaytime" class="form-control" [(ngModel)]="data.desde">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="maskedDate">Hasta</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="datetime-local" id="birthdaytime" name="birthdaytime" class="form-control" [(ngModel)]="data.hasta">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>